@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
} /*чтобы везде был шрифт, надо обратиться тут*/

.title {
    font-size: 48px;
    color: #FFFFFF;
    margin: 48px 0 16px 0;
    text-align: center;
}
.subtitle {
    font-size: 24px;
    margin: 40px 0 28px 0;
}

.birth {
    color: #FFFFFF;
    text-align: center;
}

/*чтобы часть текста окрасить, только кусочек*/
.list-item_name {
    color: #FF3232;
    font-weight: bold;
}

.aside {
    width: 310px;
    height: 656px;
    background-color: #1A142D;
    padding: 18px;
    box-sizing: border-box;
    margin-right: 67px;

}
.avatar {
    border: 1px solid #FFFFFF ;
    width: 100%;
}
p { 
    margin-top: 0;
} /*отключает стандартный отступ у абзацев*/

.main {
    width: 467px;
}

.container {
    display: flex;
    margin: 67px 56px 67px 56px;
}

ul {
    margin-left: -26px;
}
li {
    margin-bottom: 5px;
}
