@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 57px;
} /*чтобы везде был шрифт, надо обратиться тут*/

.title {
    font-size: 48px;
    color: #FFFFFF;
    margin: 48px 0 16px 0;
    text-align: center;
}
.subtitle {
    font-size: 24px;
    margin: 40px 0 28px 0;
}

.birth {
    color: #FFFFFF;
    text-align: center;
}

/*чтобы часть текста окрасить, только кусочек*/
.list-item_name {
    color: #FF3232;
    font-weight: bold;
}

.aside {
    width: 310px;
    height: 656px;
    background-color: #1A142D;
    padding: 18px;
    box-sizing: border-box;
    margin-right: 67px;

}
.avatar {
    border: 1px solid #FFFFFF ;
    width: 100%;
}
p { 
    margin-top: 0;
} /*отключает стандартный отступ у абзацев*/

.main {
    width: 467px;
}

.container {
    margin-top: 67px;
    margin-bottom: 87px;
    display: flex;
}

ul {
    margin-left: -26px;
}
li {
    margin-bottom: 5px;
}
.socials {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;

}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    position: relative; /*могу теперь сдвигать - top/right/l... без релейтива нельзя сдвигать блок*/
    bottom: 10px; /*снизу давим на элемент*/
}
.gallery {
    width: 910px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
}

.gallery-item { /*почему в начале*/
    width: 206px;
    height: 206px;
    position: relative;
}
.gallery-label {  
    width: 100%;
    padding:  3px 5px;
    background-color: #1A142D;
    margin: 0;
    color: white;
    font-size: 12px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    font-weight: bold;
    padding-left: 15px;
}
.gallery-item:hover .gallery-label {
    display: block;
}

.socials img {
    margin-right: 3px;
}



